<div class="jumbotron" ng-controller="HomeController">
    <h1>UALABI</h1>
    <p class="lead">Pdf Download Application</p>
    <p><a href="api/pdf/generatePdf" target="_self" class="btn btn-success btn-lg">GENERATE PDF</a></p>
</div>