<div class="jumbotron" >
    <div class="row">
        <div class="col-md-6">
            <a href="~/app/Upload/Exemplo1" class="btn btn-primary">Upload 1</a>
        </div>
        <div class="col-md-6">
            <a href="~/app/Upload/Exemplo2" class="btn btn-primary">Upload 2</a>
        </div>
    </div>
</div>